.EntryForm {
    border: 2px solid black;
    margin: 5%;
}

form {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10%;
    gap: 1.5em;
}

.form-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.song-title-input {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.artist-input {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.country-input {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.submit {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

